header.header
    .container
        .row.align-items-center
            .col-xl-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.svg", alt="Logo")
            .col-xl-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li 
                            a(href="/products") Sản phẩm