extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/draw.pug

block main
    .container.mt-5 
        .row 
            .col-xl-12 
                +box-head("Sản phẩm nổi bật")
        
        +draw(productFeatured)

        .row.mt-5  
            .col-xl-12 
                +box-head("Sản phẩm mới nhất")
        
        +draw(productNew)