extends ../../layouts/default.pug 
include ../../mixins/alert.pug 
include ../../mixins/show-recursion.pug 

block main  

    +alert-success()

    h1(class="mb-4") Danh mục sản phẩm 

    .card.mb-3 
        .card-header Danh sách 
        .card-body 
            .row 
                .col-8 
                .col-4.text-right 
                    a(
                        href=`${prefixAdmin}/products-category/create`
                        class="btn btn-success"
                    ) + Thêm mới

            table(
                class="table table-hover table-sm "
                checkbox-multi=""
                )
                thead 
                    tr 
                        th
                            input(type="checkbox" name="checkall")
                        th STT 
                        th Hình ảnh
                        th Tiêu đề
                        th Vị trí
                        th Trạng thái 
                        th Hành động
                tbody 
                    +show-recursion(records)