extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/box-head.pug

block main 
    +alert-success()
    +alert-error()
    .container  
        .row.justify-content-center 
            .col-8
                h1.mb-4 Thông tin cá nhân

                if(user.avatar)
                    img(src=user.avatar width="50px" class="mb-3")
                else 
                    img(src="/admin/images/avatar.png" width="50px" class="mb-3")
                if(user.fullName)
                    div(class="mb-3") Họ và tên: <b>#{user.fullName}</b>
                if(user.email)
                    div(class="mb-3") Eamil: <b>#{user.email}</b>
                            